* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.view i{
    color: white;
    background-color: rgb(82, 82, 82);
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 10px;
}

.main-container{
    width: 1200px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.content-image{
    width: calc(100% / 7);
    height: 150px;
    position: relative;
    padding: 5px 5px;
}
.content-image img{
    width: 100%;
    height: 100%;
}

.content-image p{
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: white;
    background-color: lightgray;
    padding: 5px;
    opacity: 0.9;
}

.content-image .icon::before{
    content: "\f131";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin: 0 5px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .menu{
   text-align: center;
   display: flex;
}
footer .icon-image{
    margin: 0 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.fas.fa-share-square{
    color: greenyellow;
}

.footer-right{
    background-color: rgb(99, 99, 99);
    height: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .footer-right span{
    color: red; 
}